#login-container 
{
    max-width: 35vw;
    min-width: 350px;
    width: 100%;
    box-shadow: 13px 12px 7px 0px var(--color-yellow) !important;
    border: 1px solid var(--color-yellow);


}
#login-container * 
{
    font-family: var(--font-syne);
}
#login-container h1 
{
    font-size: 1.7rem;
    text-align: center;
    color: var(--color-gray-600);
    position: relative;
    max-width: fit-content;
    align-self: center;
}
#login-container .errorlist 
{
    list-style: none;
    padding: 5px;
    background: var(--color-yellow);
    border-radius: 5px;
}
#login-container form  p 
{
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem !important;
}
#login-container form  input 
{
    padding: .5rem;
    border-radius: 5px;
    border: 1px solid var(--color-gray-600);
    position: relative;
    z-index: 1;
}

#login-container form  input:focus-visible
{
    outline: none;
}

#login-container form  p a 
{
    color: var(--color-gray-600);
    text-decoration: none;
}
#login-container form > p:nth-last-child(2)
{
    display: none;
}

#login-container form button
{
    background-color: var(--color-yellow);
    border: 1px solid var(--color-yellow);
    border-radius: 5px;
    margin: auto;
    padding: 0.5rem 1rem 0.5rem 1rem ;
    font-size: 1.2rem;
    width: 85%;
}
#login-container form > div:last-child a
{
    border: 1px solid var(--color-yellow) !important;
    background-color: transparent !important;
    width: 65%;
}